@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin mask($mask-image, $bg-color) {
  mask-image: $mask-image;
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
  background-color: $bg-color;
}
