.extra-services {
  padding: 0;
  padding-top: 15px;
  margin-bottom: 83px;
  border: none;

  @media (min-width: $vp-1024) {
    display: none;
  }
}

.extra-services__title {
  margin-bottom: 40px;
}

.extra-services__list {
  padding-left: 86px;

  @media (min-width: $vp-768) {
    padding: 0;
  }
}

.extra-services__item {
  margin-bottom: 17px;
  font-size: 16px;
  line-height: 1.3em;

  @media (min-width: $vp-1024) {
    margin-bottom: 20px;
    font-size: 20px;
  }
}

.extra-services__item:last-child {
  margin-bottom: 0;
}
