.title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3em;

  @media (min-width: $vp-1024) {
    font-size: 30px;
  }


  @media (min-width: $vp-1440) {
    font-size: 48px;
  }
}

.title--light {
  color: $color-default-white;
}

.title--dark {
  color: $color-default-black;
}
